body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #306;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
    list-style-type: none;
  }

.navbar ul li a {
    display: block;
    color: #306;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}
