body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="confirm_password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}
#signup {
    color: gray;
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}