.navbar {
    margin: 5px;
    font-family: Arial, sans-serif;
    background-color: #306;
    text-align: center; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
    text-align: center;
}
