<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/abtus.css') }}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% include 'navigation_bar.html' %}
<div class="ct-pageWrapper" id="ct-js-wrapper">
<section class="company-heading intro-type" id="parallax-one">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               About Us
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(data_show_off_image);"> <!-- 这里要加上装逼的图片 -->
      &nbsp;
   </div>
</section>
<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
   <div class="container text-center">
      <h2>
         WHAT DRIVES US
      </h2>
      <h3>
         DATA
      </h3>
      <div class="col-md-8 col-md-offset-2">
         <div class="red-border">
            &nbsp;
         </div>
         <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
            Nowadays there is a big demand for surveys in different domains, most of the surveys are conducted through Google form and so on. So, we aim to develop an integrating platform that meets the demand of doing the survey and doing some data analysis.         </p>
         <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
   </div>
</section>
<section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
   <div class="container">
      <div class="col-md-8 col-md-offset-2">
         <h2>
            THE FUNCTIONS OF THIS WEBSITE
         </h2>
         <h3>
            we focus on helping people to collect their data for various research
         </h3>
      </div>
      <div class="row ct-u-paddingBoth20">
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
                <img src="\static\image\questionnaire_icon.png" style="width: 40px; height: 40px;">               
                <p>
                  MAKE YOUR OWN SURVEY
               </p>
               <p class="company-icons-subtext hidden-xs">
                  we offer a convenient platform to edit your own questionnaire or survey for your business
               </p>
            </div>
         </div>
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
                <img src="\static\image\calculator_icon.png" style="width: 40px; height: 40px;">               
               <p>
                  MACHINE LEARNING MODEL
               </p>
               <p class="company-icons-subtext hidden-xs">
                  we offer some simple machine learning model for you to analyze your data
               </p>
            </div>
         </div>
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
                <img src="\static\image\consultant_icon.png" style="width: 40px; height: 40px;">               
               <p>
                  FIND DATA SCIENTIST
               </p>
               <p class="company-icons-subtext hidden-xs">
                  for advanced analysis or collaboration, we also offer a platform for users to connect with data scientists 
               </p>
            </div>
         </div>
      </div>
      <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-fullWidth-sm ct-u-size19" href="/">Ready to Learn More?</a>
   </div>
</section>
<section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
<div class="container">
   <div class="col-md-8 col-md-offset-2">
      <h2>
         DEVELOPERS
      </h2>
      <h3>
         We come from YONSEI UNIVERSITY<br> APPIED INFORMATION ENGINEERING major
      </h3>
   </div>
   <div class="clearfix">
      &nbsp;
   </div>
</div>
</header>
<main>
    <div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
       <div class="row">
          <div class="col-md-12 ct-content">
             <section class="clients-home">
                <div class="container">
                   <div class="clients-logos text-center">
                      <!-- starting row div -->
                      <div class="developers-row">
                        <div class="developer">
                            <img decoding="async" width="180" height="180" src="/static/image/syjimage.jpg">
                            <p>申英君<br>신영군 SHEN YINGJUN</p>
                        </div>
                        <div class="developer">
                            <img decoding="async" width="180" height="180" src="/static/image/xklimage.jpg">
                            <p>신규림<br>辛奎霖 SHIN GYULIM</p>
                        </div>    
                    </div>      
                      <!-- closing row div -->
                   </div>
                </div>
             </section>
          </div>
       </div>
    </div>
 </main>
 