<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navigation_style.css') }}">
</head>
<body>

<div class="navbar">
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Do Your Survey</a></li>
            <li><a href="#">Machine Learning Models</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </nav>
</div>

<div class="content">

</div>

</body>
</html>
