<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}">
    <link href="{{  url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
    <link href="{{  url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">
    <link href="{{  url_for('static',filename='assets/css/main.css')}}" rel="stylesheet">
    <title>{{ survey.survey_name }}</title>
</head>
<body>
    {% include 'navigation_bar.html' %}
    <h1>{{ survey.survey_name }}</h1> <!-- survey_name -->
    <p>Language: {{ survey.survey_lan }}</p> <!-- survey_lan -->
    <p>Author: {{ survey.user_id }}</p> <!-- user_name -->

    <h2>Questions:</h2>
    <form id="questionnaire-form">
        <input type="hidden" name="survey_id" value="{{ survey.survey_id }}">
        {% for question, selections in question_details %}
            <div>
                <h3>{{ question.ques_content }}</h3>
                {% for selection in selections %}
                <div>
                    {% if selection.type == 'single' %}        
                        <input type="radio" id="selection{{ selection.sel_id }}" name="question{{ question.ques_id }}" value="{{ selection.sel_id }}">
                        <label for="selection{{ selection.sel_id }}">{{ selection.content }}</label>
                    {% elif selection.type == 'multiple' %}
                        <input type="checkbox" id="selection{{ selection.sel_id }}" name="question{{ question.ques_id }}_{{ selection.sel_id }}" value="{{ selection.sel_id }}">
                        <label for="selection{{ selection.sel_id }}">{{ selection.content }}</label>
                    {% elif selection.type == 'text' %}
                        <label for="selection{{ selection.sel_id }}">{{ selection.content }}</label>
                        <input type="text" id="selection{{ selection.sel_id }}" name="question{{ question.ques_id }}" placeholder="Enter your answer">
                        <input type="hidden" name="sel_id_question{{ question.ques_id }}" value="{{ selection.sel_id }}">
                    {% elif selection.type == 'paragraph' %}
                        <label for="selection{{ selection.sel_id }}">{{ selection.content }}</label>
                        <textarea id="selection{{ selection.sel_id }}" name="question{{ question.ques_id }}" placeholder="Enter your answer"></textarea>
                        <input type="hidden" name="sel_id_question{{ question.ques_id }}" value="{{ selection.sel_id }}">
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="green_button">Submit</button>
    </form>

    <a href="/">Back to home</a>

    <script src="{{ url_for('static', filename='js/submit_survey.js') }}"></script>
</body>
</html>
