<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ survey.survey_name }}</title>
</head>
<body>
    <h1>{{ survey.survey_name }}</h1> <!-- survey_name -->
    <p>Language: {{ survey.survey_lan }}</p> <!-- survey_lan -->
    <p>Author: {{ survey.user_id }}</p> <!-- user_name -->

    <h2>Questions:</h2>
    <form id="questionnaire-form">
        <input type="hidden" name="survey_id" value="{{ survey[0] }}">
        {% for question, selections in question_details %}
            <div>
                <h3>{{ question[1] }}</h3>
                {% for selection in selections %}
            <div>
                {% if selection[2] == 'radio' %}
                    <input type="radio" id="selection{{ selection[0] }}" name="question{{ question[0] }}" value="{{ selection[0] }}">
                    <label for="selection{{ selection[0] }}">{{ selection[1] }}</label>
                {% elif selection[2] == 'checkbox' %}
                    <input type="checkbox" id="selection{{ selection[0] }}" name="question{{ question[0] }}" value="{{ selection[0] }}">
                    <label for="selection{{ selection[0] }}">{{ selection[1] }}</label>
                {% endif %}
            </div>
        {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    <a href="/">Back to home</a>

    <script src="{{ url_for('static', filename='js/questionnaire_detail.js') }}"></script>
</body>
</html>
