<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="sourse\login_signup.css">
</head>
<body>
    <iframe id="navigation" src="navigation_bar.html" frameborder="0" scrolling="no"></iframe>
    <div class="login-container">
        <h2>Sign Up</h2>
        <form class="login-form" action="your_login_script.php" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" value="Login">
        </form>
        <p></p>
        <a href="login.html" class="register-link">Log In</a>
    </div>
</body>
</html>
