<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}">
    <link href="{{  url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
    <link href="{{  url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
    <link href="{{  url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">
    <link href="{{  url_for('static',filename='assets/css/main.css')}}" rel="stylesheet">
</head>
<body>
    {% include 'navigation_bar.html' %}
    <div id="editor" style="width: 1000px;"> 
        <h1>Survey Form</h1>
        <label for="survey-name">Survey Name:</label>
        <input type="text" id="survey-name" class="shadow-input" style="margin: 2%" placeholder="Enter survey name" />
        <label for="survey-lan">Survey Language:</label>
        <input type="text" id="survey-lan" class="shadow-input" style="margin: 2%" placeholder="Enter survey language" />
        <h2>Survey Editor</h2>
        <button type="button" class="green_button" style="margin: 1%" onclick="addQuestion()">ADD QUESTION</button>
        <div id="questions-container">
            <!-- 问题列表将在此显示 -->
        </div>
        <p> </p>
        <button type="button" class="green_button" style="margin: 1%" onclick="saveSurvey()">SAVE YOUR SURVEY</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/survey.js') }}"></script>
</body>
</html>
